<div>
    Demo Sections
</div>
{% schema %}
  {
    "name": "ht demo section",
	"class": "section",
	"tag": "section",
    "settings": [
        {
            "type": "paragraph",
            "content": "Att: Save settings to view updates"
        }
	],
 	"presets": [
      {
        "name": "ht demo section"
      }
	]
  }
{% endschema %}